@import url('https://fonts.cdnfonts.com/css/existence-light');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ffad33;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9900;
}

.header {
  background-image: url("https://images.freeimages.com/images/large-previews/fa1/texture-coffee-beans-1147918.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.description {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
}

.over {
  left: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 50px 0px 0px;
}

.footer-copyright {
  color: #666;
  padding: 40px 0;
}

.card-deck {
  width: 70%;
}

.title {
  position: relative;
  opacity: 0;
  font-family: 'Existence Light', sans-serif;
  bottom: -5vh;
}

.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 60px;
  }
  .pa {
    font-size: 45px;
  }
  .pb {
    font-size: 20px;
  }
}

/* desktop */
@media only screen and (min-width: 601px) {
  .title {
    font-size: 100px;
  }
  .pb {
    font-size: 40px;
  }
}

/* title animation */
@keyframes slideup {
  0% {opacity: 0; bottom: -5vh}
  100% {opacity: 1; bottom: 0vh}
}
